* {
    font-family: Tahoma;
  }
  
  /* color for all paragraphs */
  div p {	color: #808080; }  
  
  .primary:first-child{
    color: black;
  }
  
  div .primary { 
    color: darkkhaki; 
  }
  
  /* Are IDs or Classes more specific? */
   li:last-child { color: #FF1493; }
  .red { color: #FF4500; }